<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <button v-on:click.once="clickHandler">
        Now
      </button>
      <p>
        {{ message }}
      </p>
      <p>
        <input type="text" v-model="message2" />
        <input type="text" v-on:keyup.27="clear" v-model="message2" />
        <input type="text" v-on:keyup.esc="clear" v-model="message2" />
        <input type="text" v-on:keyup.esc.space.up="clear" v-model="message2" />
        <input type="text" v-on:keyup.ctrl.67="clear" v-model="message2" />
      </p>
      <div v-on:click.shift="clickHandlerAlert">ClickMe</div>
      <div @click.shift="clickHandlerAlert">ClickMe</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
